
:root {
  --primary-color: rgb(20, 20, 20);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  padding: 50px 0;
  border-radius: 10px;
}

.container h1{
  color: white;
}

.calculadora {
  width: 400px;
}

.display {
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 1em;
  background-color: transparent;
  color: #fff;
  margin-bottom: 15px;
}



.btn {
  width: 95%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  background-color: #646464;
  margin: 5px;
}

.btn:hover {
  background-color: rgb(236, 145, 61);
}

.btn-eq:hover {
  background-color: rgb(208, 51, 26);
}

@media only screen and (max-width: 400px) {
  .display {
    width: 94%;
  }
  .btn {
    width: 70%;
  }
}
